*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: block;
  width: 340px;
  font-family: "Source Sans Pro", sans-serif;
}

button {
    height: 44px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
}

h1 {
  font-weight: normal;
}

img {
  height: 2.5em;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: baseline;
  padding: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.header h1 {
  padding-left: 1rem;
}

.main {
  display: block;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid #e6e6e6;
  height: 8px;
}

.footer h3 {
  align-self: center;
  padding-bottom: 10px;
}

.settings {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.button-64 {
    align-self: center;
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }

.onoffswitch {
    position: relative; 
    width: 60px;
    height: 22px;
    align-self: center;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 10px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb); 
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: -1px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    border: 2px solid #999999; border-radius: 10px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}